*
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body
{
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
}

.container
{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    background-color: rgb(37, 37, 37);
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgb(20, 20, 20);
    padding: 5px;
}

.container h1
{
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 5px;
    color: rgb(182, 182, 182);
}

.container h2
{
    text-align: left;
    margin: 10px 5px;
    color: rgb(182, 182, 182);
}

.container .controls
{
    width: 97%;
    margin: 10px auto;
}

.container button
{
    width: 145px;
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    outline: none;
    box-shadow: 2px 2px 5px #141414;
}

.container #buttonRand
{
    width: 96%;
    margin: 15px auto;
}

.container textarea
{
    width: 95%;
    font-size: larger;
    border: none;
    border-radius: 8px;
    outline: none;
    padding: 5px;
    background-color: rgb(51, 51, 51);
    color: rgb(209, 209, 209);
    resize: none;
    box-shadow: 2px 2px 5px rgb(20, 20, 20);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.container #author
{
    margin: 10px auto;
    color: gray;
}